<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FindJobApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <FindJobApplication.Properties.Settings>
      <setting name="connStr" serializeAs="String">
        <value>Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;</value>
      </setting>
    </FindJobApplication.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="AccountDFContext" connectionString="metadata=res://*/Entities.Account.csdl|res://*/Entities.Account.ssdl|res://*/Entities.Account.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UserProfileDFContext" connectionString="metadata=res://*/Entities.UserProfile.csdl|res://*/Entities.UserProfile.ssdl|res://*/Entities.UserProfile.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="YearExperienceDFContext" connectionString="metadata=res://*/Entities.YearExperience.csdl|res://*/Entities.YearExperience.ssdl|res://*/Entities.YearExperience.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LocationDFContext" connectionString="metadata=res://*/Entities.Location.csdl|res://*/Entities.Location.ssdl|res://*/Entities.Location.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="JobPostDFContext" connectionString="metadata=res://*/Entities.JobPost.csdl|res://*/Entities.JobPost.ssdl|res://*/Entities.JobPost.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CompanyProfileDFContext" connectionString="metadata=res://*/Entities.CompanyProfile.csdl|res://*/Entities.CompanyProfile.ssdl|res://*/Entities.CompanyProfile.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SkillDFContext" connectionString="metadata=res://*/Entities.Skill.csdl|res://*/Entities.Skill.ssdl|res://*/Entities.Skill.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QLXinViecDFContext" connectionString="metadata=res://*/Entities.QLXinViec.csdl|res://*/Entities.QLXinViec.ssdl|res://*/Entities.QLXinViec.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FindJobApplication.Properties.Settings.ConnectionString"
      connectionString="Data Source=LOI;Initial Catalog=QLXinViec;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>